* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(to left, #292e49, #536976 );
}

input,
button {
  color: rgba(0, 0, 0, 0.9);
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 3;
  background-color: transparent;
}

#cover {

  width: 1200px;
  margin: auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 25px;
  transform: scale(0.3);
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 90px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: rgb(128, 128, 128, 0.6);
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card:hover {
  transform: scale(1.03);
}

.gallery__image {
  display: block;
  height: 80%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  background-color: black;
  border-radius: 4px;
  padding: 4px;
  font-family: Nunito;
  box-shadow: 0 2px 4px black, 0 0 0 4px orange;
  width: 20%;
  height: 30px;
  font-size: 12px;
  text-align: center;
  margin: 0;
}